<div class="membership-join header">
  <h2>Join SNCC</h2>
  <% if flash[:membership_successful] %>
    <h2>Success!</h2>
  <% end %>
  <% if flash[:invalid_order] %>
    <h2>Failure!</h2>
  <% end %>
</div>
<div class="membership-join page-content" data-page="1">
  <%= form_for @joint_membership,
    url: { action: "create" },
    builder: MaterialFormsHelper::MaterialFormBuilder,
    html: { class: "membership-form container", id: 'membership-form' } do |f| %>

    <%= f.hidden_field :organization, :value => @watched_area.local_climbing_org.name %>
    <%= f.hidden_field :order_id, :value => nil, data: { :role => 'orderId' } %>

    <div class="row">
      <div class="col-md-6 col-12 form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>

      <div class="col-md-6 col-12 form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-12 form-group">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div class="col-md-6 col-12 form-group">
        <%= f.label :phone_number %>
        <%= f.telephone_field :phone_number %>
      </div>
    </div>

    <div class="row divider"></div>

    <div class="row">
      <div class="col-md-6 col-12 form-group">
        <%= f.label :streel_line_1 %>
        <%= f.text_field :street_line_one %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-12 form-group">
        <%= f.label :street_line_2 %>
        <%= f.text_field :street_line_two %>
      </div>
      <div class="col-md-6 col-12 form-group">
        <%= f.label :postal_code %>
        <%= f.number_field :zipcode %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-12 form-group">
        <%= f.label :state %>
        <%= f.text_field :state %>
      </div>
      <div class="col-md-6 col-12 form-group">
        <%= f.label :city %>
        <%= f.text_field :city %>
      </div>
    </div>

    <div class="row divider"></div>

    <div class="row">
      <div class="col-md-6 col-12 row form-group mobile-divider">
        <div class="col-sm-6 col-md-12 custom-control custom-checkbox">
          <%= f.check_box :local_shirt, class: "custom-control-input", data: { :role => "shirtCheckbox" } %>
          <%= f.label :local_shirt, raw("SNCC T-Shirt <strong>(+$15)</strong>"), class: "custom-control-label" %>
        </div>
        <div class="col-sm-6 col-md-12 custom-control custom-checkbox">
          <%= f.check_box :access_fund_shirt, class: "custom-control-input", data: { :role => "shirtCheckbox" } %>
          <%= f.label :access_fund_shirt, raw("Access Fund T-Shirt <strong>(+$15)</strong>") , class: "custom-control-label" %>
        </div>
      </div>
      <div class="col-md-6 col-12 form-group">
        <%= f.label :shirt_size %>
        <%= f.select :shirt_size, [ "MS", "MM", "ML", "MXL", "WS", "WM", "WL", "WXL" ], {prompt: ""}, disabled: true %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-12">
        <h3 class="total">Total: <strong data-role="price">$35</strong></h3>
      </div>
      <div class="col-md-6 col-12">
        <p class="order-note d-none d-md-block">
          <i>Note:</i>  SNCC Event Signups are processed post-event and do not immeditely take effect. Upon payment you will receive a receipt immeditely,
          and at a date in the near future you will receive your membership confirmation email from the access fund.
        </p>
      </div>
    </div>

    <div class="row divider d-none" data-role="errorContainer">
      <div class="col-md-12">
        <p class="error" data-role="errorText"></p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 center">
          <button class="validate-button btn btn-primary btn-large" data-role="validate">Continue to Payment</button>
      </div>
    </div>

    <div class="row d-md-none">
      <div class="col-12 center">
        <p class="order-note mobile">
          <i>Note:</i>  SNCC Event Signups are processed post-event and do not immeditely take effect. Upon payment you will receive a receipt immeditely,
          and at a date in the near future you will receive your membership confirmation email from the access fund.
        </p>
      </div>
    </div>
  <% end %>
</div>

<div class="payment-content" data-page="2">
  <button class="btn btn-link" data-role="back">Go Back</button>
  <div class="row" id="paypal"></div>
</div>

<script>
  new NewMembershipController();
</script>