<div class="membership-join header">
  <h2>Join SNCC</h2>
  <h3><%= @watchedAreaId %></h3>
</div>
<div class="membership-join page-content">
  <%= form_for @jointMembership,
    url: { action: "create" },
    builder: MaterialFormsHelper::MaterialFormBuilder,
    html: { class: "membership-form container" } do |f| %>
    <div class="row">
      <div class="col-6">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>
      <div class="col-6">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>
      <div class="col-6">
        <%= f.label :phone_number %>
        <%= f.telephone_field :phone_number %>
      </div>
    </div>

    <div class="row">
      <div class="col-6 form-group">
        <%= f.label :streel_line_1 %>
        <%= f.text_field :street_line_one %>
      </div>
      <div class="col-6">
        <%= f.label :shirt_type %>
        <%= f.select :shirt_type, ["Local", "AccessFund"] %>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <%= f.label :stree_line_2 %>
        <%= f.text_field :street_line_two %>
      </div>
      <div class="col-6">
        <%= f.label :shirt_size %>
        <%= f.select :shirt_size, [ "MS", "MM", "ML", "MXL", "WS", "WM", "WL", "WXL" ] %>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <%= f.label :city %>
        <%= f.text_field :city %>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <%= f.label :state %>
        <%= f.text_field :state %>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <%= f.label :postal_code %>
        <%= f.number_field :zipcode %>
      </div>
    </div>

    <%= f.submit "Submit" %>
  <% end %>
</div>
