<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
  </head>
  <body style="max-width: 680px; margin: 0 auto;">
    <div style="width: 80px; margin-bottom: 40px;">
      <img src="https://www.wetrockpolice.com/images/sncc_logo.png" style="max-width: 100%;">
    </div>
    <div style="text-align: center; margin-bottom: 40px;">
      <img src="https://www.wetrockpolice.com/images/checkmark.png" style="width: 100px;">
      <h3 style="font-weight: normal; font-size: 23px; margin-top: 15px; margin-bottom: 10px; font-family: 'Open Sans';">Thank you for your support</h3>
      <p style="font-size: 14px; font-family: 'Open Sans';">Payment Confirmation <%= @membership.order_id %></p>
    </div>
    <div>
      <p style="font-size: 16px; font-family: 'Open Sans';"><%= @membership.first_name %>,</p>
      <p style="font-size: 16px; font-family: 'Open Sans';">
        Thank you for joining the Access Fund and supporting the Southern Nevada Climbers Coalition! Your support
        is critical in allowing our coalition to maintain access to existing climbing areas as well as support
        rebolting efforts around the Vegas area.
      </p>
      <p style="font-size: 16px; font-family: 'Open Sans';">
        You will receive an official receipt and further information about your beneits within 1-2 weeks. If you have any
        questions or concerns feel free to reach out to <a href="mailto:snclimberscoalition@gmail.com">snclimberscoalition@gmail.com</a>
      </p>
    </div>
    <hr>
    <div>
      <strong>Membership Details</strong>
      <ul style="list-style: none; padding: 0;">
        <li style="font-size: 16px; margin: 0; font-family: 'Open Sans';"><%= @membership.first_name %> <%= @membership.last_name %> (<%= @membership.email %>)</li>
        <li style="font-size: 16px; margin: 0; font-family: 'Open Sans';"><%= @membership.street_line_one %></li>
        <% if (@membership.street_line_two && !@membership.street_line_two.empty?) %>
          <li style="font-size: 16px; font-family: 'Open Sans';"><%= @membership.street_line_two %></li>
        <% end %>
        <li style="font-size: 16px; margin: 0; font-family: 'Open Sans';"><%= @membership.city %>, <%= @membership.state %></li>
        <li style="font-size: 16px; margin: 0; font-family: 'Open Sans';"><%= @membership.zipcode %></li>
      </ul>
      <div>
        <strong style="font-size: 16px; display: inline-block">Shirts:</strong>
        <ul style="padding: 0; list-style: none; display: inline-block; margin: 0; margin-right: 5px;">
          <% @membership.shirt_orders.each do |shirt_order| %>
            <li style="font-size: 16px; margin: 0; font-family: 'Open Sans';">
              <%= shirt_order.shirt_type.tr("_", " ").titleize %> (<%= shirt_order.shirt_size %>)
            </li>
          <% end %>
        </ul>
      </div>
      <div>
        <strong style="font-size: 16px; display: inline-block; margin: 0; margin-right: 5px; margin-top: 5px;">Total: </strong><span>$<%= @membership.amount_paid %>.00</span>
      </div>
    </div>
  </body>
</html>