<div class="hero-header-content" id="particles-js">
  <div class="hero-header <%= @watched_area.slug %>"></div>
  <div class="shadow-overlay"></div>
 
  <!--<div class="notification-menu" id="temp-notification" tabindex="0" data-toggle="popover" data-trigger="focus" title="SNCC Membership Shirt Sale">
    <i class="fas fa-bell"></i><span class="badge badge-light">1</span>
  </div>-->

  <div class="hero-container">
    <h1 class="animated bounceInLeft">Did it rain in <%= @watched_area.name %>?</h1>
    <span>It's been...</span>
    <div class="row time-since-rain">
      <div class="days card">
        <div class="placeholder" data-role="loading">
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
        <p data-role="days"></p>
        <span data-role="days-label">Days</span>
      </div>
      <div class="hours card">
        <div class="placeholder" data-role="loading">
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
        <p data-role="hours"></p>
        <span data-role="hours-label">Hours</span>
      </div>
      <div class="warning-tooltip animated tada delay-2s">
        <i
          class="fas fa-exclamation-circle"
          data-role="tooltip"
          data-toggle="tooltip"
          data-placement="right"
          title="Precipitation data collected from Red Rock visitor center. Use your best judgement in determening whether this information is relevant to the climbing area you will be in.">
        </i>
      </div>
    </div>
    <span data-role="excerpt">Since rain last fell in the canyon</span>
    <div class="row call-to-action">
      <button class="btn weather" data-role="scroll-to-weather">Can I Climb?</button>
      <%= link_to 'Rainy Day Options', watched_area_rainy_day_options_path, class: 'btn rainy-day-options' %>
    </div>
  </div>

  <a class="plug" target="_blank" href="https://www.instagram.com/bradleycombs702/?src=wetrockpolice">
    <i class="fab fa-instagram"></i>
    <p>Photography by @bradleycombs702</p>
  </a>

  <p class="scroll-down"><i class="material-icons">expand_more</i> Scroll Down</p>
  <div class="vertical-line"></div>
</div>
<div class="weather-breakdown" data-role="weather-section">
  <div class="container">
    <div class="header" data-aos="fade-up">
      <h2 data-role="weather-breakdown-header">The last recorded precipitation was on</h2>
      <div class="spinner loading-date" data-role="loading-date">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <strong data-role="last-rain-date"></strong>
      <%= link_to 'Where does this data come from?', watched_area_faqs_path %>
    </div>

    <div class="content">
      <div class="graph" data-aos="fade-up">
        <div class="graph-switcher">
          <label class="custom-control-label daily-switch" for="graphSwitch">Daily</label>
          <div class="custom-control custom-switch">
            <input class="custom-control-input" id="graphSwitch" type="checkbox">
            <span class="custom-control-track"></span>
            <label class="custom-control-label" for="graphSwitch">Hourly</label>
          </div>
        </div>
        <div class="overflow-wrapper">
          <div class="graph-render" style="position: relative;">
            <canvas id="timeSeries"></canvas>
          </div>
        </div>
      </div>
      <div class="text-content" data-aos="fade-up">
        <div class="text">
          Generally, you should avoid climbing <strong>24</strong> to <strong>72</strong> hours after rain, depending on where you intend to climb.
          Sunny locations like <a href="https://www.mountainproject.com/area/105732132/sunny-and-steep" target="_blank">Sunny and Steep</a> or <a href="https://www.mountainproject.com/area/105813478/stratocaster-area" target="_blank">Stratocaster Wall</a> will need much less
          time to dry when compared to places like <a href="https://www.mountainproject.com/area/105732030/the-black-corridor" target="_blank">Black Corridor</a>
          <br><br>
          Las Vegas has <em>plenty</em> of rainy day options, with climbing that rivals Red Rock itself. If you've found yourself in town during a rainy week, check out <a href="https://www.ladylockoff.com/wet-sandstone">Irene's great writeup</a> for what to do.
          <br><br>
          Not sure why you shouldn't climb when it's wet, or want to read more on how to determine when climbing is OK? Check out <a href="http://www.southernnevadaclimberscoalition.org/local-ethics/climbing-after-rain/" target="_blank">SNCC's write up</a>
          <%= link_to 'FAQ', watched_area_faqs_path, class: 'btn faq' %>
        </div>
        <div class="content-widget" data-aos="fade-up" id="customize-script-container">
          <script type='text/javascript' src='https://darksky.net/widget/default/36.13234657827764,-115.43574920166014/us12/en.js?width=300&height=350&title=Calico Basin, NV &textColor=333333&bgColor=transparent&transparency=true&skyColor=undefined&fontFamily=Sans-Serif&customFont=&units=us&htColor=333333&ltColor=C7C7C7&displaySum=yes&displayHeader=yes'></script>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var imageLoader = new ImageLoader({
            'imageContainerSelector': '.hero-header.<%= @watched_area.slug %>',
            'imageLoadedClass': '.hero-header-loaded'
        })
        var redRockController = new LandingController({
            'stid': 'rrkn2'
        });

        imageLoader.load();
        redRockController.initLandingView();

        $('#temp-notification').popover({
            trigger: 'focus',
            html: true,
            content: "<p>We've got a surprise for you! We've missed our climbing community and since we haven't been able to gather in person because of COVID, " + 
                     "we wanted to share a special Membership Drive with you. We printed up a limited run of brand new SNCC t-shirts with artwork by climber " + 
                     "<a class=\"inline-link\" href=\"http://www.marinainoue.com/\" target=\"_blank\">Marina Inoue</a> and we want to offer them to you all today for FREE!<br><br>" +
                     "Well.. sort of :) Until July 31st, we'll include a brand new SNCC t-shirt with every $50 Membership purchased. All of you have to do is " +
                     "join the SNCC or renew your membership here by July 31st.<br><br>We promise to keep advocating for climbers and our climbing areas by partnering " +
                     "with the BLM in protecting public lands, re-bolting and replacing anchors at our favorite crags, and doing trail work and maintenance across " +
                     "Southern Nevada's climbing areas, including supplying wag bags across Red Rock National Conservation Area." +
                     "</p><a class=\"btn btn-primary\" role=\"button\" href=\"/redrock/sncc\">Join SNCC</a>"
        });
    });
</script>