<div class="page-header card">
    <div class="container">
        <h1><a href="/<%= @watched_area.slug %>">WET ROCK POLICE</a></h1>
        <%= image_tag "redrock/sncc_logo.png" , height: '45', width: '69', class: 'raffle-sncc-logo' %>
        <h2 class="raffle-title">Wagbag Raffle</h2>
    </div>
</div>
<div class="membership-join page-content raffles-content" data-page="1">
  <%= form_for @raffle_entry,
    url: { action: "create" },
    builder: MaterialFormsHelper::MaterialFormBuilder,
    html: { class: "membership-form container", id: 'raffles-form' } do |f| %>
    <%= f.hidden_field :organization, value: @watched_area.local_climbing_org.name %>
    <%= f.hidden_field :order_id, value: nil, data: { role: 'orderId' } %>
    <%= f.hidden_field :amount_paid, value: '0', data: { role: 'amountPaidField' } %>
    <%= f.hidden_field :entries, value: nil, data: { role: 'amountEntires' } %>

    <div class="row container">
      <div class="col-md-6 col-12">
        <div class="copy-container d-block d-md-none">
          <h1 style="text-align: center; margin-top: 10px;">Join us for a Spring clean up!</h1>
          <hr />
          <p>
            The Southern Nevada Climbers Coalition is raising money to help support the BLM in purchasing wag bags
            for climbers to use in Red Rock National Conservation Area via the SNCC's wag bag dispenser program.
          </p>
          <p>
            All proceeds will go directly towards the purchasing of waste disposal bags to continue to keep the
            dispensers across Red Rock full. The numbers of climbers are increasing steadily and so is our need
            for wag bags. Please help support keeping Red Rock poop free! Wag Bags are approximately $2/ea, and
            the amount you donate will be directly correlated to how many wag bags we are able to purchase. We
            use over 4,500 wag bags annually and our wag bag usage has been growing by about 10% each year.
          </p>
          <p>
            Plus, donating any amount below will automatically enter you into a raffle to win some sweet gear! Make
            sure to keep an eye out on your email for us, or enter your phone number to get a text. We'll be holding
            the raffle on 5/31/21. Thanks for your support!
          </p>
        </div>
        <div class="embed-container">
          <iframe src="https://www.youtube.com/embed/9vJENWzkVRU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="form-group">
            <%= f.label :contact, 'Name' %>
            <%= f.text_field :contact %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <div class="form-group">
          <%= f.label :phone_number, 'Phone Number (Optional)' %>
          <%= f.text_field :phone_number %>
        </div>
      </div>
      <div class="col-md-6 col-12 center">
        <div class="copy-container d-none d-md-block">
          <h1 style="text-align: center; margin-top: 10px; font-size: 36px;">Join us for a Spring clean up!</h1>
          <hr />
          <p>
            The Southern Nevada Climbers Coalition is raising money to help support the BLM in purchasing wag bags
            for climbers to use in Red Rock National Conservation Area via the SNCC's wag bag dispenser program.
          </p>
          <p>
            All proceeds will go directly towards the purchasing of waste disposal bags to continue to keep the
            dispensers across Red Rock full. The numbers of climbers are increasing steadily and so is our need
            for wag bags. Please help support keeping Red Rock poop free! Wag Bags are approximately $2/ea, and
            the amount you donate will be directly correlated to how many wag bags we are able to purchase. We
            use over 4,500 wag bags annually and our wag bag usage has been growing by about 10% each year.
          </p>
          <p>
            Plus, donating any amount below will automatically enter you into a raffle to win some sweet gear! Make
            sure to keep an eye out on your email for us, or enter your phone number to get a text. We'll be holding
            the raffle on 5/31/21. Thanks for your support!
          </p>
        </div>
        <div class="raffle-buttons-container">
          <button class="enter-raffle" data-role="validate" data-price="10">
            $10<span>5 Wag Bags</span>
          </button>
          <button class="enter-raffle" data-role="validate" data-price="20">
            $20<span>10 Wag Bags</span>
          </button>
          <button class="enter-raffle" data-role="validate" data-price="40">
            $40<span>20 Wag Bags</span>
          </button>
          <button class="enter-raffle" data-role="validate" data-price="100">
            $100<span>50 Wag Bags</span>
          </button>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row divider d-none" data-role="errorContainer">
    <div class="col-md-12">
      <p class="error" data-role="errorText">
    </div>
  </div>

  <div class="payment-content" data-page="2">
    <div class="flex-wrapper">
      <div class="row">
        <div class="col-12">
          <button class="btn btn-link" data-role="editAgain">
            <i class="material-icons">arrow_upward</i>
            <i>Edit Information Again</i>
          </button>
        </div>
      </div>

      <div class="row col-12" id="paypal"></div>

      <div class="row loading" data-role="loader">
        <div class="col-12 center">
          <span>Processing</span>
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var raffles_controller = new RafflesController();
</script>