<div class="session-header">
    <h2><a href="/">Wet Rock Police</a></h2>
</div>

<div class="session-page-wrapper">
  <div class="login card">
    <h3>Administration Portal</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address" %>
      </div>

      <div class="field form-group">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field remember-me">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-outline-dark action-button" %>
      </div>
    <% end %>

    <div class="line-break">
      <hr>
      <span>OR</span>
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>
