<div class="modal fade membership-signup-complete" tabindex="-1" data-backdrop="static" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">You're all signed up!</h5>
      </div>
      <div class="modal-body">
        <%= image_tag 'redrock/pending-backdrop.jpg' %>
        <p>
          Present this prompt to the signup desk to proceed with your cash payment and
          confirm your membership.
        </p>
        <p>
          Upon confirmation you will receive an email with further information
        </p>
        <p>
          Thanks for your support and enjoy the event!
        </p>
        <p><strong>Membership Details (Show Desk):</strong></p>
        <ul>
          <li>First Name: <strong><%= @membership.first_name %></strong></li>
          <li>Last Name: <strong><%= @membership.last_name %></strong></li>
          <li>Email: <strong><%= @membership.email %></strong></li>
          <li>Amount Owed: <strong>$<%= @membership.amount_paid %>.00</strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>