<div class="membership-join header">
  <h2>Join SNCC</h2>
  <div class="shadow-overlay"></div>
</div>
<div class="membership-join page-content" data-page="1">
  <%= form_for @joint_membership,
    url: { action: "create" },
    builder: MaterialFormsHelper::MaterialFormBuilder,
    html: { class: "membership-form container", id: 'membership-form' } do |f| %>

    <%= f.hidden_field :organization, :value => @watched_area.local_climbing_org.name %>
    <%= f.hidden_field :order_id, :value => nil, data: { :role => 'orderId' } %>
    <%= f.hidden_field :paid_cash, :value => false, data: { :role => 'paidCashField' } %>
    <%= f.hidden_field :amount_paid, :value => "0", data: { :role => 'amountPaidField' } %>

    <div class="row">
      <div class="col-md-6 col-12 form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>

      <div class="col-md-6 col-12 form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-12 form-group">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div class="col-md-6 col-12 form-group">
        <%= f.label :phone_number %>
        <%= f.telephone_field :phone_number %>
      </div>
    </div>

    <div class="row divider"></div>

    <div class="row">
      <div class="col-md-6 col-12 form-group">
        <%= f.label :streel_line_1 %>
        <%= f.text_field :street_line_one %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-12 form-group">
        <%= f.label :street_line_2 %>
        <%= f.text_field :street_line_two %>
      </div>
      <div class="col-md-6 col-12 form-group">
        <%= f.label :postal_code %>
        <%= f.number_field :zipcode %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-12 form-group">
        <%= f.label :city %>
        <%= f.text_field :city %>
      </div>
      <div class="col-md-6 col-12 form-group">
        <%= f.label :state %>
        <%= f.text_field :state %>
      </div>
    </div>

    <div class="row divider"></div>

    <div class="row">
      <div class="col-md-6 col-12 form-group">
        <div class="row">
          <div class="col-md-6 col-12 custom-control custom-checkbox mobile-divider">
            <%= f.check_box :local_shirt, class: "custom-control-input", data: { :role => "shirtCheckbox" }, checked: true %>
            <%= f.label :local_shirt, raw("SNCC T-Shirt <strong>(+$15)</strong>"), class: "custom-control-label" %>
          </div>
          <div class="col-md-6 col-12 mobile-center">
            <img src="https://via.placeholder.com/150">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="row">
          <div class="col-12 form-group">
            <%= f.label :shirt_size %>
            <%= f.select :shirt_size, [ "MS", "MM", "ML", "MXL", "WS", "WM", "WL", "WXL" ], {prompt: ""}, disabled: true %>
          </div>
        </div>
        <div class="row">
          <div class="col-12 form-group">
            <%= f.label :delivery_method %>
            <%= f.select :delivery_method, [ "Local Pickup - Refuge", "Local Pickup - Red Rock Climbing Center", "Local Pickup - Nevada Climbing Center", "Local Pickup - Origin"], {prompt: ""} %>
          </div>
        </div>
      </div>
    </div>

    <!-- disabled until future events
    <div class="row">
      <div class="col-md-4 col-12 form-group mobile-divider">
        <div class="col-md-6 custom-control custom-checkbox">
          <%= f.check_box :local_shirt, class: "custom-control-input", data: { :role => "shirtCheckbox" }, checked: true %>
          <%= f.label :local_shirt, raw("SNCC T-Shirt <strong>(+$15)</strong>"), class: "custom-control-label" %>
        </div>
        <div class="col-sm-6 col-md-12 custom-control custom-checkbox">
          <%= f.check_box :access_fund_shirt, class: "custom-control-input", data: { :role => "shirtCheckbox" } %>
          <%= f.label :access_fund_shirt, raw("Access Fund T-Shirt <strong>(+$15)</strong>") , class: "custom-control-label" %>
        </div>
      </div>
      <div class="col-md-6 col-12 form-group">
        <%= f.label :shirt_size %>
        <%= f.select :shirt_size, [ "MS", "MM", "ML", "MXL", "WS", "WM", "WL", "WXL" ], {prompt: ""}, disabled: true %>
      </div>
    </div>
    -->

    <div class="row">
      <div class="col-md-6 col-12">
        <h3 class="total">Total: <strong data-role="price">$35</strong></h3>
      </div>
      <div class="col-md-6 col-12">
        <p class="order-note d-none d-md-block">
          <i>
            Note: You will receive an email when your shirt is ready for pickup, please allow 1-2 weeks for
            your membership to be processed.
          </i> 
          <!-- 
          <i>Note:</i>  SNCC Event Signups are processed post-event and do not immeditely take effect. Upon payment you will receive a receipt immeditely,
          and at a date in the near future you will receive your membership confirmation email from the access fund.
          -->
        </p>
      </div>
    </div>

    <div class="row divider d-none" data-role="errorContainer">
      <div class="col-md-12">
        <p class="error" data-role="errorText"></p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 center">
          <button class="validate-button btn btn-primary btn-large" data-role="validate">Continue to Payment</button>
      </div>
    </div>

    <div class="row d-md-none">
      <div class="col-12 center">
        <p class="order-note mobile">
          <i>Note:</i>  SNCC Event Signups are processed post-event and do not immeditely take effect. Upon payment you will receive a receipt immeditely,
          and at a date in the near future you will receive your membership confirmation email from the access fund.
        </p>
      </div>
    </div>
  <% end %>

  <div class="payment-content" data-page="2">
    <div class="flex-wrapper">
      <div class="row">
        <div class="col-12">
          <button class="btn btn-link" data-role="editAgain">
            <i class="material-icons">arrow_upward</i>
            <i>Edit Information Again</i>
          </button>
        </div>
      </div>

      <div class="row col-12" id="paypal"></div>

      <!-- Re-enable for cash payments support
      <div class="row">
        <div class="col-12 center">
          <button class="btn btn-success cash-button" data-role="cashPayment">Pay with Cash</button>
        </div>
      </div>
      -->

      <div class="row loading" data-role="loader">
        <div class="col-12 center">
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  var membershipController = new NewMembershipController();

  <% if Rails.env.development? && false %>
    membershipController.$form.find('input[name="joint_membership_application[first_name]"]').val('John');
    membershipController.$form.find('input[name="joint_membership_application[last_name]"]').val('Doe');
    membershipController.$form.find('input[name="joint_membership_application[email]"]').val('JohnDoe@email.com');
    membershipController.$form.find('input[name="joint_membership_application[phone_number]"]').val('(123) 456-7891');
    membershipController.$form.find('input[name="joint_membership_application[street_line_one]"]').val('123 Lane Street');
    membershipController.$form.find('input[name="joint_membership_application[street_line_two]"]').val('Suite 100');
    membershipController.$form.find('input[name="joint_membership_application[zipcode]"]').val('12345');
    membershipController.$form.find('input[name="joint_membership_application[city]"]').val('Cityville');
    membershipController.$form.find('input[name="joint_membership_application[state]"]').val('California');
    membershipController.$form.find('select[name="joint_membership_application[shirt_size]"]').prop('disabled', false);
    membershipController.$form.find('select[name="joint_membership_application[shirt_size]"]').val('ML');
  <% end %>
</script>