<!DOCTYPE html>
<html>
  <head>
    <title>Wetrockpolice</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Real time precipitation data and weather forecasts for Red Rock Canyon, Las Vegas.">
    <meta name="keywords" content="Red Rock,Climbing,Weather,Forecasts">

    <%= csrf_meta_tags %>

    <style>
      .hero-header.hero-header-loaded {
          background-image: url(<%= asset_path 'hero-image-spring.jpg' %>);
      }
    </style>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      <% if Rails.env.development? %>
        heap.load("372095985");
      <% else %>
        heap.load("3317823896");
      <% end %>
    </script>
    
  </head>

  <body>
    <% if notice %>
      <div class="notice opaque alert alert-warning alert-dismissible fade show">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <% if alert %>
      <div class="notice opaque alert alert-warning alert-dismissible fade show">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>

    <div class="footer">
      <div class="footer-container">
        <p>For site issues or suggestions: </p>
        <a href="mailto:gmercer015@gmail.com">gmercer015@gmail.com</a>
      </div>
    </div>
  </body>
</html>
